/* The whole footer section */
.footer{
    margin: 0;
    margin-top: 1em;
    background-color: whitesmoke;
    color: rgb(139, 136, 136);
    position: relative;
    bottom: 0;
    width: 100%;
    font: small;
    height: 20vh;
    height: fit-content;
}
/* Voltex logo */
.footimg{
    /* float: left; */
    height: 8%;
    width: 8%;
    min-width: 100px;
    min-height: 30px;
    padding: 0;
    margin: 1em auto;
    margin-bottom: 0;
    opacity: 60%;
}
/* Dic for contact links */

.foot label{
    font-size: medium;
    font-weight: bold;
}
#contactLinks ul li{
    margin-bottom: .5em;
    cursor: pointer;
    list-style-type: none;
}
#contactLinks ul li a{
    text-decoration: none;
}
/* The container for the private policies */
#policies ul{
    list-style-type: none;
}
#policies ul li{
    cursor: pointer;
}
#policies ul li a{
    text-decoration: none;
}
