
.header{
     border-bottom: 2px solid cornflowerblue;
     text-shadow: .5px .5px 1px #000000de;
}

/* The main code wrapper for all codes */
.code_container{
     margin: 1em auto;
     border: none;
     border-radius: 30px;
     /* background-color: cadetblue; */
     width: max-content;
}
/* Each code wrapper to give uniqness to eeach code container */
.code-tab{
     margin: 1em auto;
     margin-top: 3em;
     
}
.code-tab h4{
     color: cornflowerblue;
     text-shadow: .1px .1px 1px #000000de;
     border-bottom: 2px solid cornflowerblue;
}
.code-tab .code-explained{
     display: flex;
     max-width: fit-content;
}

/* The code itself, to beautify it */
.code{
     width: auto;
     margin: 2em auto;
     padding: .2em;
     border-radius: 20px;
     text-align: center;
     -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.65);
     -moz-box-shadow:    1px 1px 10px 0px rgba(50, 50, 50, 0.65);
     box-shadow:         1px 1px 10px 0px rgba(50, 50, 50, 0.65);
}
