.code{
     background-color: rgb(207, 206, 206);
     color: rgb(104, 103, 103);
     width: max-content;
     margin: auto;
     padding: .5em;
     border-radius: 20px;
}
.header{
     border-bottom: 2px solid cornflowerblue;
}
.code_container{
     margin: 1em auto;
     border: none;
     border-radius: 30px;
     /* background-color: cadetblue; */
     width: max-content;
}
.time{
     color: #61dafb;
     font-weight: bold;
}
