.Home{
    margin: auto;
    font-size: medium;
}
.header{
    border-bottom: 2px solid cornflowerblue;
}
.head{
    font-size: xx-large;
    font-weight: bold;
    color: #282c34;
}
.time{
    color: rgb(54, 123, 252);
    font-weight: bold;
}

.hm {
    border-radius: 10px;
    margin: 2em auto;
    /* -webkit-box-shadow: 3px 3px 5px 6px #ccc;  
    -moz-box-shadow: 3px 3px 5px 6px #ccc;  */
    box-shadow: 1px 3px 5px 1px rgb(128, 166, 238); 
}
.left{
    margin-left: 0;
}
.right{
    margin-right: 0;
    justify-content: right;
}
.large{
    font-size: 500%;
}
.color{
    color: rgb(70, 123, 223);
}
