/* To import style links to use */
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
:root{
    --primary: rgb(54, 123, 252);
}
.Home{
    margin: auto;
    font-size: medium;
    background: transparent;
}
.headGlass{
    z-index: 99;
    /* position: absolute;
    top: 20vh;
    left: 30vw; */
    width: fit-content;
    margin: 1em auto;
    padding: 0.5em;
    color: #282c34;
   
    /* The code for glasssmorphorsm */
    background: rgba(255, 255, 255, 0.1);
    /* background: #282c34; */
    box-shadow: 0 8px 32px 0 rgba(85, 89, 145, 0.37);
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 4.0px );
    border-radius: 10px;
}

.headGlass-head{
    font-size: xx-large;
    font-weight: bold;
    /* color: cornflowerblue; */
}
/* .tagline{
    font-family:  Montserrat, 'Italianno', cursive;
} */
.head{
    font-size: xx-large;
    font-weight: bold;
    color: #282c34;
    /* text-shadow: 2px 2px 4px #000000; */
}
.time{
    color: var(--primary);
    font-weight: bold;
}
.isContainer{
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    background-color: rgb(187, 187, 51);
    border-radius: 10px;
}
.internet_status{
    color: white;
    margin: 1.5em .5em;
}
.hm {

    border-radius: 10px;
    margin: 2em auto;
    background: white;
    /* -webkit-box-shadow: 3px 3px 5px 6px #ccc;  
    -moz-box-shadow: 3px 3px 5px 6px #ccc;  */
    /* box-shadow: 1px 3px 5px 1px rgb(128, 166, 238);  */
    box-shadow:  4px 8px 0 rgba(128, 166, 238, 0.2), 0 6px 20px 0 rgba(128, 166, 238, 0.1);
    /* max-width: fit-content; */
}
.hm h5{
    font-weight: bold;
    font-size: large;
}
/* .hmIcon{
    text-align: left;
    
} */
.hmicon{
    height: 40%;
    width: 40%;   
}
.hmHead{
    float: right;
    margin: .5em auto;
    text-align: center;
}
.hmText{
    /* text-align: right; */
   font-size: medium;
   font-weight:normal;
   font-family: Monteserrat, Arial, Helvetica, sans-serif;
}
.large{
    font-size: 500%;
}
.color{
    color: var(--primary);
}
